################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Maray/v17
/Maray/.vs/Maray/FileContentIndex
/Maray/obj
/Maray/Maray.csproj.user
/.vs
/Maray/.vs

*/.vs/*
*/bin/*